.header_container
  width: 100%
  background: url(../../img/png/header.png) no-repeat

.nav_container
  display: flex
  justify-content: space-around
  height: 100px
  background-color: #ffffff
  opacity: 0.8

.label
  span
    font-size: 40px
    font-family: 'Lavanderia Regular', serif

    &:first-child
      color: #000000
    &:last-child
      color: #b73958

.nav-bar
  display: flex
  align-items: center
  color: #454545

  .nav-item
    margin-right: 30px
    color: #454545

    &:last-child
      margin-right: 0
      color: #ffffff
      background-color: #DE6D6E
      padding: 5px 10px
      border-radius: 5px

  .nav-link
    color: inherit
    font-size: 16px
    font-family: "Segoe UI",serif
