@media screen and (min-width: 1366px)
  .offer_container
    padding: 65px 250px

  .article_container
    padding: 0 250px

  .footer_container
    padding: 35px 250px

  .sub-menu_container
    width: 550px
